agm-map {
  width: 100vw;
  height: 100vh;
}

.sidebar {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  button {
    border: 2px blue solid;
    color: blue;
    font-size: 1em;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
  }

  .floating-box {
    margin: 20px 0 0 20px;
    padding: 15px;
    width: 330px;
    max-width: 400px;
    background: white;
    box-shadow: -6px 6px rgba(0,0,0,.2);
    h1 {
      text-align: center;
    }
  }
}
