<agm-map [latitude]="geoPoint.latitude" [longitude]="geoPoint.longitude" [zoom]="zoom" (mapClick)="setHometown($event)">
  <agm-marker *ngFor="let marker of markers$ | async" [latitude]="marker.geoPoint.latitude" [longitude]="marker.geoPoint.longitude" [markerDraggable]="true" (dragEnd)="updatePosition(marker, $event)">
    <agm-info-window>{{ marker.label }}</agm-info-window>
  </agm-marker>
</agm-map>
<div class="sidebar">
  <div class="floating-box">
    <h1>Zero to App in 30</h1>
    <p>
      <span *ngIf="afAuth.user | async as user; else showLogin">{{ user.displayName }} • <a href (click)="userService.logout()">Log out</a> • </span>
      <ng-template #showLogin><a href routerLink="/login" routerLinkActive="active">Login</a> • </ng-template>
      <a href routerLink="/hometown" routerLinkActive="active">My hometown</a>
    </p>
  </div>
  <router-outlet></router-outlet>
</div>
